@font-face {
  font-family: 'Liberation';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/LiberationSans-Regular.ttf') format('truetype'),
       url('./assets/fonts/LiberationSans-Regular.woff') format('woff');
}
