.menu-toggle {
    z-index: 2;

    display: none;
    

    @media (max-width: ($tablet - 1px)) {
        display: block;
        cursor: pointer;
      }
  }
  
  .menu-toggle:hover .menu-toggle-line {
    background-color: $color-primary-light;
  }
  
  .menu-toggle-line {
    display: block;
    width: 50px;
    height: 3px;
    margin: 10px auto;
    background-color: $color-primary;
    transition: all 0.4s linear;
  }
  
  .menu-toggle.active .menu-toggle-line:nth-child(2){
    opacity: 0;
  }
  
  .menu-toggle.active .menu-toggle-line:nth-child(1){
    transform: translateY(13px) rotate(45deg);
  }
  
  .menu-toggle.active .menu-toggle-line:nth-child(3){
    transform: translateY(-13px) rotate(-45deg);
  }
  
  .menu-toggle.active:hover .menu-toggle-line {
    background-color: var(--icon-main-color);
  }