@import './variables';
@import './fonts';

@mixin flex ($aling: center, $justify: space-between, $direction: row) {
    display: flex;
    flex-direction: $direction;
    align-items: $aling;
    justify-content: $justify;
  }
  
@mixin absolute ($left: 0, $top: 0, $z-index: 0) {
  position: absolute;
  left: $left;
  top: $top;
  z-index: $z-index;
}

@mixin size ($width: 100%, $height: 100%) {
  width: $width;
  height: $height;
}

@mixin font ($family: 'arial', $style: normal, $weight: normal, 
            $size: 15px, $line: normal, $letter: normal) {
    
  font-family: $family;
  font-style: $style;
  font-weight: $weight;
  font-size: $size;
  line-height: $line;
  letter-spacing: $letter;
}

@mixin button ($width: 207px, $height: 50px, $border: 0, $color: $color-dark-3xl, 
              $color-bg: $color-primary) {
  @include size($width, $height);
  
  padding: 15px 40px;
  border: $border;
  border-radius: 100px;

  @include font($family: 'georgia', $size: 17px, $line: 130%, $letter: 0.06em);
  color: $color;

  background-color: $color-bg;
}