.key {
  @include size(80px, 80px);

  text-align: center;
  line-height: 80px;


  border: 2px solid #000;

  &.key_backspace {
    flex-grow: 2;
  }

  &.key_tab {
    flex-grow: 2;
  }

  &.key_capslock {
    flex-grow: 2;
  }

  &.key_enter {
    flex-grow: 2;
  }

  &.key_shift {
    flex-grow: 2;
  }

  &.key_ {
    flex-grow: 2;
  }
}