.key {
  @include size(80px, 80px);

  text-align: center;
  line-height: 80px;


  border: 2px solid #000;
  border-radius: 10px 10px 10px 10px;

  background: #fff;

  &.key_backspace,
  &.key_tab,
  &.key_capslock,
  &.key_enter,
  &.key_shift {
    flex-grow: 2;
  }

  &.key_ {
    flex-grow: 2;
  }

  &.mark {

    background: rgb(182, 127, 50);
  }

  // &:hover {
  //   background: rgb(187, 158, 117);
  // }
}