@import '~normalize.css'; 

//abstracts
@import '../assets/styles/abstracts/function';
@import '../assets/styles/abstracts/keyframes';
@import '../assets/styles/abstracts/mixin';
@import '../assets/styles/abstracts/placeholders';
@import '../assets/styles/abstracts/variables';

//base
@import '../assets/styles/base/base';
@import '../assets/styles/base/fonts';

//components
@import '../assets/styles/components/burger';
@import '../assets/styles/components/card';
@import '../assets/styles/components/title';

//layout
@import '../assets/styles/layout/container';
@import '../assets/styles/layout/footer';
@import '../assets/styles/layout/header';

/* Intro */
.intro {
  color: $color-light-xl;

  background: url(../assets/img/noise_transparent@2x.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%),
    linear-gradient(0deg, #211f20, #211f20);
}

.intro-inner {
  @include flex();
  @include size();

  padding-top: 180px;

  @media (max-width: ($desctop - 1px)) {
    @include flex($aling: center, $direction: column);  
    gap: 20px;

    padding-top: 150px;
  }
  
  .intro-content {
    @include flex ($aling: flex-start, $direction: column);
    gap: 42px;

    width: 42%;
    
    padding-bottom: 80px;

    @media (max-width: ($desctop - 1px)) {
      width: toPercent(460px, $tablet, 30px);
    }

    @media (max-width: ($tablet - 1px)) {
      @include flex ($direction: column);
    }

    @media (max-width: ($tablet - 1px)) {
      width: 100%;
    }

    &-title {
      width: 80%;

      @include font ($family: 'georgia', $size: 44px, $line: 130%);

      @media (max-width: ($tablet - 1px)) {
        @include font ($family: 'georgia', $size: 30px, $line: 130%, $letter: 0.06em);
        text-align: center;
      }

      @media (max-width: ($mobile)) {
        @include font ($family: 'georgia', $size: 25px, $line: 130%, $letter: 0.06em);
        text-align: center;
      }
    }

    &-text {
      width: 93%;

      @include font ($line: 160%);
      color: $color-dark-s;

      @media (max-width: ($desctop - 1px)) {
        width: 100%;
      }

      @media (max-width: ($tablet - 1px)) {
        text-align: center;
      }
    }

    &-button {
      @include button(); 

      @media (max-width: ($desctop - 1px)) {
        align-self: center;
      }
    }
  }

  .intro-img {
    position: relative;
    overflow: hidden;

    width: 58%;
    padding-bottom: toPercent(728px, $desctop, 40px);

    @media (max-width: ($desctop - 1px)) {
      align-self: flex-end;
      width: toPercent(569px, $tablet, 30px);
      padding-bottom: toPercent(593px, $tablet, 30px);

    }

    @media (max-width: $mobile) {
      width: toPercent(260px, $mobile, 10px);
      padding-bottom: toPercent(276px, $mobile, 10px);
    }

    .intro-puppy {
      @include absolute();

      @include size();

      object-fit: contain;

      @media (max-width: ($desctop - 1px)) {
        object-fit: cover;
      }
    }
  }
}

/* About */
.about {
  background-color: $color-light-xl;
}

.about-inner {
  @include flex($justify: center);
  gap: 120px;
  
  @include size();

  padding: 80px 0 100px 0;

  @media (max-width: ($desctop - 1px)) {
    @include flex($justify: center, $direction: column-reverse);
    gap: 80px;
  }

  @media (max-width: ($tablet - 1px)) {
    gap: 42px;
    padding: 42px 0 42px 0;
  }

  .about-img {
    position: relative;
    overflow: hidden;

    align-self: start;
    width: 25%;
    padding-bottom: 34%;

    @media (max-width: ($desctop - 1px)) {
      align-self: center;
      width: 100%;
      padding-bottom: toPercent(408px, $laptop, 30px);
    }

    @media (max-width: ($laptop - 1px)) {
     padding-bottom: toPercent(408px, $tablet, 30px);
    }

    @media (max-width: $mobile) {
      padding-bottom: toPercent(355px, $mobile, 10px);
    }

    .about-pets {
      @include absolute();

      @include size();

      object-fit: contain;
    }
  }
  
  .about-content {
    @include flex ($aling: flex-start, $direction: column);
    gap: 25px;
    width: 36%;

    @media (max-width: ($desctop - 1px)) {
     width: toPercent(430px, $tablet, 30px)
    }

    @media (max-width: ($tablet - 1px)) {
      @include flex ($direction: column);
      width: toPercent(600px, $tablet, 30px);
    }

    @media (max-width: ($mobile)) {
      gap: 23px;
      width: 100%;
    }

    .title {
      width: 80%;

      @media (max-width: ($tablet - 1px)) {
        text-align: center;
      }
    }

    &-text {
      @include font ($line: 160%);
      color: $color-dark-xl;

      @media (max-width: ($tablet - 1px)) {
        padding: 0 15px;

        text-align: justify;
      }
    }

  }

}

/* Pets */
.pets-content {
  @include flex($direction: column);
  gap: 60px;
  @include size();
  padding: 80px 0 100px 0;

  background-color: $color-light-l;

  @media (max-width: ($tablet - 1px)) {
    gap: 40px;
    padding: 42px 0 42px 0;
  }

  .title {
    text-align: center;
  }

  .slider-container {
    display: grid;
    grid-template-columns: 52px 1fr 52px;
    grid-template-rows: 435px;
    align-items: center;

    width: 100%;

    @media (max-width: ($tablet - 1px)) {
      grid-template-columns: 1fr 80px 1fr;
      grid-template-rows: 435px 52px;
      row-gap: 20px;
      justify-items: end;
      //width: 270px;
    }

    .button-arrow {
      grid-area: 1 / 1 / 2 / 2;

      @include button ($width: 52px, $border: 2px solid $color-primary,
                      $color-bg: $color-light-xl, $color: $color-dark-3xl); 

      @include font ($weight: bold, $size: 15px);               
      
      background-color: $color-light-s;

      @media (max-width: ($tablet - 1px)) {
        grid-area: 2 / 1 / 3 / 2;
      }

      &.right { 
        grid-area: 1 / 3 / 2 / 4;
        @media (max-width: ($tablet - 1px)) {
          grid-area: 2 / 3 / 3 / 4;
          justify-self: start;
        }

      }
    }
    

    .slider {
      overflow-x: hidden;
      justify-self: center;

      @include flex();
      max-width: calc(3* 270px + 2 * 90px + 2 * 53px);
      min-height: 550px;

      @media (max-width: ($desctop - 1px)) {
        max-width: calc(270px + 270px + 90px + 2 * 53px);
        margin: 0 auto;
      }

      @media (max-width: ($laptop - 1px)) {
        max-width: calc(270px + 270px + 40px + 2 * 30px + 12px);
        margin: 0 -30px;
      }

      @media (max-width: ($tablet - 1px)) {
        grid-area: 1 / 1 / 2 / 4;
        width: 100%;
        max-width: calc(270px + 2 * 15px);
        margin: 0;
      } 

      &-main {
        @include flex($justify: flex-start);
        gap: 90px;
        padding: 0 53px;
  
        @media (max-width: ($laptop - 1px)) {
          gap: 40px;
          padding: 0 36px;
        }
  
        @media (max-width: ($tablet - 1px)) {
          padding: 0 15px;
        }
      } 
    }      
  }
 
  &-button {
    @include button($width: 261px); 
  }
  
}

/* Help */
.help {
  background-color: $color-light-xl;
}
.help-content {
  @include flex($direction: column);
  gap: 58px;

  @include size();

  padding: 80px 0 100px 0;

  @media (max-width: ($tablet - 1px)) {
    gap: 42px;
    padding: 42px 0 42px 0;
  }

  .title {
    text-align: center;
  }

  &-ways {
    @include flex ($justify: center);
    column-gap: 120px;
    row-gap: 55px;
    flex-wrap: wrap;
    width: 86%;

    @media (max-width: ($desctop - 1px)) {
      display: grid;  
      grid-template-columns: 1fr 1fr 1fr; 

      width: toPercent(750px, $laptop, 30px);
    }

    @media (max-width: ($laptop - 1px)) {
      width: toPercent(630px, $tablet, 30px);
      column-gap: 60px;      
    }

    @media (max-width: ($tablet - 1px)) {
      grid-template-columns: 1fr 1fr; 
      gap: 30px;  
      width: 100%;
      padding: 0 5px;
    }

    &-item {
      @include flex ($direction: column);
      gap: 30px;

      @media (max-width: $mobile) {
        gap: 20px;
      }

      .item-icon {
        display: block;
        @include size($width: 60px, $height: 60px);
      
        fill: $color-primary;

        @media (max-width: $mobile) {
          @include size($width: 50px, $height: 50px);
        }
      }

      .item-title {
        @include font($family: 'georgia', $size: 20px, $line: 115%, $letter: 0.06em);

        @media (max-width: ($tablet - 1px)) {
          @include font($family: 'georgia', $size: 15px, $line: 115%, $letter: 0.06em);
        }
      }

    }
  }
}

/* Donation */
.donation-inner {
  @include flex($justify: center, $aling: flex-start);
  gap: 30px;

  @include size($width: 76%);
  margin: 0 auto;
  padding: 80px 0 100px 0;

  @media (max-width: ($desctop - 1px)) {
    @include flex($justify: center, $aling: center, $direction: column-reverse);
    gap: 60px;
    width: 100%;
    padding: 78px 0 100px 0;
  }
  
  @media (max-width: ($tablet - 1px)) {
    gap: 42px;
    padding: 42px 0 42px 0;
  }

  .donation-img {
    position: relative;
    overflow: hidden;

    width: 56%;
    padding-bottom: 31%;

    @media (max-width: ($desctop - 1px)) {
      align-self: center;
      width: 100%;
      padding-bottom: toPercent(261px, $laptop, 30px);
    }

    @media (max-width: ($laptop - 1px)) {
      align-self: center;
      padding-bottom: toPercent(261px, $tablet, 30px);
    }

    @media (max-width: ($tablet - 1px)) {
      padding-bottom: toPercent(135px, $mobile, 10px);
    }

    .donation-puppy {
      @include absolute();

      @include size();

      object-fit: contain;
    }
  }
  
  .donation-content {
    @include flex ($aling: flex-start, $direction: column);
    gap: 20px;
    width: 42%;

    @media (max-width: ($laptop - 1px)) {
      width: toPercent(380px, $tablet, 30px);
    }

    @media (max-width: ($tablet - 1px)) {
      @include flex ($direction: column);
      width: 80%;
      padding: 0 10px;
    }

    @media (max-width: $mobile) {
      gap: 22px;
      width: 100%;
    }

    .title {
      width: 80%;

      @media (max-width: ($desctop - 1px)) {
        width: 320px;
      }

      @media (max-width: ($tablet - 1px)) {
        text-align: center;
      }
    }

    &-subtitle {
      @include font ($family: 'georgia', $size: 15px, $line: 110%, $letter: 0.06em);
      color: $color-dark-l;

      @media (max-width: ($tablet - 1px)) {
        @include font ($family: 'georgia', $size: 15px, $line: 110%);
        text-align: center;
      }
    }

    &-card {
      @include flex($justify: center);
      gap: 15px;

      @include size($width: 92%, $height: 43px);
      border-radius: 9px;

      background-color: $color-primary;

      @media (max-width: ($desctop - 1px)) {
        width: 350px;
      }

      @media (max-width: ($tablet - 1px)) {
        width: 281px;
      }

      &:hover {
        background-color: $color-primary-light;
      }

      .credit-card-icon {
        @include size($width: 30px, $height: 23px);

        fill: $color-dark-3xl;
      }

      .credit-card-link {
        @include font($family: 'georgia', $size: 20px, $line: 115%, $letter: 0.06em);
        color: $color-dark-l;
        text-decoration: none;

        @media (max-width: ($tablet - 1px)) {
          @include font($family: 'georgia', $size: 15px, $line: 110%, $letter: 0.06em);
        }

      }
    }

    &-text {
      @include font ($style: italic, $size: 12px, $line: 150%);
      color: $color-dark-m;

      @media (max-width: ($tablet - 1px)) {
        text-align: justify;
      }
    }

  }
}

