/* Footer */
.footer {
    color: $color-light-xl;
  
    background: url(../assets/img/noise_transparent@2x.png),
      radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%),
      linear-gradient(0deg, #211f20, #211f20);
  }
  
  .footer-inner {
    @include flex($aling: flex-start);
    gap: 160px;
  
    @include size();
    padding-top: 40px;

    @media (max-width: ($desctop - 1px)) {
      @include flex($justify: center);
      row-gap: 60px;
      flex-wrap: wrap;
      padding-top: 15px;
    }
  
    @media (max-width: ($laptop - 1px)) {
      @include flex($justify: center);
      column-gap: 60px;
    }

    @media (max-width: ($tablet - 1px)) {
      column-gap: 75px;
      row-gap: 35px;
      padding-top: 30px;
    }

    .footer-img {
      position: relative;
      overflow: hidden;
  
      align-self: end;
      flex-basis: 300px;
      padding-bottom: 26%;

      @media (max-width: ($desctop - 1px)) {
        flex-basis: 100%;
        padding-bottom: 31%;
      }

      @media (max-width: ($laptop - 1px)) {
        padding-bottom: toPercent(310px, $tablet, 30px);
      }

      @media (max-width: $mobile) {
        padding-bottom: toPercent(270px, $mobile, 10px);
      }
  
      .footer-puppy {
        @include absolute();
  
        @include size();
  
        object-fit: contain; 
      }
    }
    
    .footer-content {
      @include flex ($justify: flex-start);
      flex-wrap: wrap;
      column-gap: 20px;
      row-gap: 36px;
      flex-basis: 279px;
      padding-top: 16px;

      @media (max-width: ($tablet - 1px)) {
        justify-content: center;
        padding-top: 0;
      }
  
      .title {
        color: $color-light-xl;
        letter-spacing: 0.02em;

        @media (max-width: ($tablet - 1px)) {
          width: 100%;

          text-align: center;
        }
      }
  
      &-icon {
        @include size($width: 40px, $height: 32px);
  
        fill: $color-primary;
        
        &.address {
          @include size($width: 22px, $height: 32px);
        }
      }
  
      &-link {
        @include font($family: 'Noto', $size: 20px, $line: 115%, $letter: 0.03em);
        color: $color-primary;
        text-decoration: none;
      }
  
      &.address {
        row-gap: 31px;
        flex-basis: 303px;
        justify-content: start;

        @media (max-width: ($tablet - 1px)) {
          row-gap: 40px;

          .title {
            display: block;
            padding: 0 10px
          }
        }       
      }
    }
  }