@import '~normalize.css'; 
@import '../assets/styles/variables';
@import '../assets/styles/function';
@import '../assets/styles/fonts';
@import '../assets/styles/mixin';
@import '../assets/styles/keyframes';
@import '../assets/styles/components';

*,
*::after,
*::before {
  box-sizing: border-box;
}

ul, li {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

button {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;

}

body {
  position: relative;

  @include font ();

  background: $color-light-l;
}

/* Container */
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px; 

  @media (max-width: ($desctop - 1px)) {
    padding: 0 30px;
  }
}

/* Header*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  @include size($height: 120px);

  color: $color-dark-l;

  background-color: $color-light-xl;

  @media (max-width: ($desctop - 1px)) {
   
  }
}

.header-inner {
  @include flex();

  padding: 30px 0;

  .header-logo {
    @include flex($direction: column);
    gap: 10px;

    .header-title {
      @include font ($family: 'georgia', $size: 32px, $line: 110%, $letter: 0.06em);
    }
    
    .header-subtitle {
      @include font ($size: 13px, $line: 115%, $letter: 00.1em);
    }
  }

  nav {
    width: toPercent(443px, $desctop, 40px);

    @media (max-width: ($desctop - 1px)) {
      width: toPercent(443px, $laptop, 30px);
    }

    @media (max-width: ($laptop - 1px)) {
      width: toPercent(443px, $tablet, 30px);
    }
  }
}

.nav-list {
  @include flex();
  gap: 35px;
  padding: 0;

  .nav-item {

    .nav-link {
      position: relative;

      @include font ($line: 160%);
      text-decoration: none;
      color: $color-dark-l;

      &.active {
        transition: color 0.2s linear;

        &::after {
          opacity: 1;
          animation: line 0.5s;
          animation-fill-mode: forwards;
          animation-direction: normal;
        }
      }
  
      &::after {
        @include absolute ($top: 18px, $z-index: 2);

        display: block;
        @include size($width: 0, $height: 3px);

      
        content: "";
        opacity: 0;
        background-color: $color-primary;
  
        transition: opacity 0.2s linear;
      }
  
      &:hover {
        color: $color-dark-3xl;
      } 
    }

  }
 
}

/* Pets */
.pets-content {
    @include flex($direction: column);
    gap: 60px;
    @include size();
  
    padding: 200px 0 100px 0;
  
    background-color: $color-light-l;

    @media (max-width: ($desctop - 1px)) {
      gap: 30px;
      padding: 200px 0 75px 0
    }
  
    & .title {
      @include font ($family: 'georgia', $size: 35px, $line: 130%, $letter: 0.06em);
      text-align: center;
      color: $color-dark-l;
    }
  
    &-slider {
      position: relative;

      width: 100%;

      @media (max-width: ($desctop - 1px)) {
        padding-bottom: 10px;
      }

      &-pets {
        @include flex();              
        row-gap: 30px;
        column-gap: 40px;
        flex-wrap: wrap;

        @media (max-width: ($desctop - 1px)) {
          overflow: hidden;
          width: 700px;
          height: 1365px;
          margin: 0 auto;
        }

        @media (max-width: ($laptop - 1px)) {
          width: 580px;
        }
      }
      
    }
    
    &-controls {
      @include flex($justify: center);
      gap: 20px;
        
      .controls-button {
        @include button ($width: 52px, $border: 2px solid $color-primary,
                        $color-bg: $color-light-s, $color: $color-dark-3xl);         

        &.inactive {
          border: 2px solid $color-dark-s;

          color: $color-dark-s;  

          pointer-events: none;
        }

        &.active {
          background-color: $color-primary;

          &:hover {
            background-color: $color-primary-light;
          }

        }
      }
    }
    
  }
  
  .card {
    @include flex($direction: column);   
    gap: 30px;
    width: 270px;
    padding-bottom: 30px;
    border-radius: 9px;
  
    background-color: $color-light-s;
  
    &-name {
      @include font($family: 'georgia', $size: 20px, $line: 115%, $letter: 0.06em);
    }
  
    &-button {
      @include button($width: 187px, $border: 2px solid $color-primary, $color-bg: $color-light-s);     
    }
  
    &:hover {
      cursor: pointer;
  
      box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
      background-color: $color-light-xl;

      .card-button {
        border: 2px solid $color-primary-light;

        background-color: $color-primary-light;
      }
    }
  }