@import '~normalize.css'; 

//abstracts
@import '../assets/styles/abstracts/function';
@import '../assets/styles/abstracts/keyframes';
@import '../assets/styles/abstracts/mixin';
@import '../assets/styles/abstracts/placeholders';
@import '../assets/styles/abstracts/variables';

//base
@import '../assets/styles/base/base';
@import '../assets/styles/base/fonts';

//components
@import '../assets/styles/components/burger';
@import '../assets/styles/components/card';
@import '../assets/styles/components/title';

//layout
@import '../assets/styles/layout/container';
@import '../assets/styles/layout/footer';
@import '../assets/styles/layout/header';


/* Pets */
.pets-content {
    @include flex($direction: column);
    gap: 60px;
    @include size();
  
    padding: 200px 0 100px 0;
  
    background-color: $color-light-l;

    @media (max-width: ($desctop - 1px)) {
      gap: 30px;
      padding: 200px 0 75px 0
    }
  
    .title {
      @include font ($family: 'georgia', $size: 35px, $line: 130%, $letter: 0.06em);
      text-align: center;
      color: $color-dark-l;
    }
  
    .pagination {
      position: relative;
      @include flex($direction: column-reverse);
      gap: 60px;
      width: 100%;

      @media (max-width: ($desctop - 1px)) {
        gap: 40px;
      }


      &-pets {
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
        grid-template-rows: repeat(2, auto);             
        row-gap: 30px;
        column-gap: 40px;

        @media (max-width: ($desctop - 1px)) {
          grid-template-columns: repeat(2, 270px); 
          grid-template-rows: repeat(3, auto);
          justify-content: center; 
          max-height: calc(3 * 435px + 2 * 30px);
          margin: 0 auto;
        }

        @media (max-width: ($tablet - 1px)) {
          grid-template-columns: 270px; 
          grid-template-rows: repeat(3, auto);
        }
      }

      &-controls {
        @include flex($justify: center);
        gap: 20px;
          
        .controls-button {
          @include button ($width: 52px, $border: 2px solid $color-primary,
                          $color-bg: $color-light-s, $color: $color-dark-3xl);         
  
          &.inactive {
            border: 2px solid $color-dark-s;
  
            color: $color-dark-s;  
  
            pointer-events: none;
          }
  
          &.active {
            background-color: $color-primary;
            
            pointer-events: none;
  
          }
        }
      } 
    }  
  }
  