.menu-toggle {
    z-index: 4;

    display: none;
    

    @media (max-width: ($tablet - 1px)) {
        display: block;
        cursor: pointer;
      }
  }
  
  .menu-toggle:hover .menu-toggle-line {
    background-color: $color-primary-light;

    &.pets {
      background-color: $color-dark-3xl;
    }
  }
  
  .menu-toggle-line {
    display: block;
    width: 30px;
    height: 2px;
    margin: 8px auto;
    background-color: $color-primary;
    transition: all 0.4s linear;

    &.pets {
      background-color: $color-dark-l;
    }
  }
  
  .menu-toggle.active .menu-toggle-line:nth-child(2){
    transform: rotate(90deg);
  }
  
  .menu-toggle.active .menu-toggle-line:nth-child(1){
    transform: translateY(10px) translateX(10px) rotate(90deg);
  }
  
  .menu-toggle.active .menu-toggle-line:nth-child(3){
    transform: translateY(-10px) translateX(-10px) rotate(90deg);
  }
  
  .menu-toggle.active:hover .menu-toggle-line {
    background-color: $color-primary-light;

    &.pets {
      background-color: $color-dark-3xl;
    }
  }