/* Card */
.card {
    overflow: hidden;

    @include flex($direction: column);
    gap: 30px;
    min-width: 270px;
    padding-bottom: 30px;
    border-radius: 9px;
  
    background-color: $color-light-s;
  
    &-name {
      @include font($family: 'georgia', $size: 20px, $line: 115%, $letter: 0.06em);
    }
  
    &:hover {
      cursor: pointer;
  
      box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
      background-color: $color-light-xl;
  
      @media (max-width: $tablet) {
        box-shadow: 0px 2px 15px 5px rgba(13, 13, 13, 0.04);
      }

      .card-button {
        border: 2px solid $color-primary-light;
        
        background-color: $color-primary-light;
      }
    }  
  
    &-button {
      @include button($width: 187px, $border: 2px solid $color-primary, $color-bg: $color-light-s);  
    }
  }
  
  